
@{
    ViewBag.Title = "Account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a @Html.ActionLink("List", "List", "List")</a></li>
            <li><a class="active" @Html.ActionLink("Account", "Account", "Account")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monster", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>Account</h1>

            <form method="post" asp-controller="NewAccount" asp-action="NewAccount">
            <button class="NewAccount" type="submit">New Account</button>
            </form>

            <form method="post" asp-controller="NewStats" asp-action="NewStats">
            <button class="NewStats" type="submit">New Stats</button>
            </form>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
