
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="Background">
    <div>
        <form class="modal-content" asp-action="UserLogin" asp-controller="Home">
            <div class="imgcontainer">
                <img src="../images/Logo.png" alt="Avatar" class="avatar">
            </div>
            <div class="containerInlog">
                <input class="Inlog" type="text" placeholder="Enter Username" name="Username" required>
                <input class="Inlog" type="password" placeholder="Enter Password" name="Password" required>
                <p>Registeren</p>
                <button type="submit">Login</button>
            </div>
            <div class="containerPassword" style="background-color:#f1f1f1">
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
</body>
</html>
