
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="Background">
    <div>
        <form class="modal-content" action="@Url.Action("ToList", "Home")">
            <div class="imgcontainer">
                <img src="../images/Logo.png" alt="Avatar" class="avatar">
            </div>
            <div class="containerInlog">
                <input class="Inlog" type="text" placeholder="Enter Email" name="uname" required>
                <input class="Inlog" type="text" placeholder="Enter Username" name="uname" required>
                <input class="Inlog" type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
