
@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a class="active" @Html.ActionLink("List", "List", "List")</a></li>
            <li><a @Html.ActionLink("MyAccount", "UserAccount", "UserAccount")</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monsters", "Monster", "Monster")</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>List of Monsters</h1>
            <div class="LeftList">
                <p class="LeftListText">
                    <h2>Can do:</h2><br />
                    <li>Monster</li>
                </p>
            </div>
            <div class="RightList">
                <h2>Can't do:</h2><br />
                <li>Monster</li>
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
