@using Models;
@model RuneScapeWiki.Models.AllMonsterViewModel

@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>
<body class="BackgroundTekst">
    <ul>
        <h1 class="Menu">
            <li><a class="active" asp-action="List" asp-controller="List">List</a></li>
            <li><a asp-action="UserAccount" asp-controller="UserAccount">My account</a></li>
            <li><a asp-action="Stats" asp-controller="Stats">Stats</a></li>
            <li><a asp-action="Monster" asp-controller="Monster">Monster</a></li>
        </h1>
    </ul>
    <div class="ContainerContent">
        <div class="BackdropTop"></div>
        <div class="Backdrop">
            <h1>List of Monsters</h1>
            <div class="LeftList">
                <p class="LeftListText">
                    <h2>Can do:</h2><br />
                    @foreach (Monster monster in Model.ListOfMonsters.Where(monster => monster.RequireStat <= ViewBag.GameAccount.Slayer))
                    {
                        <li class=@monster.Id><a class="ListMonsters" asp-action="Monster" asp-controller="Monster">@monster.Name</a></li>

                    }
                </p>
            </div>
            <div class="RightList">
                <h2>Can't do:</h2><br />
                @foreach (Monster monster in Model.ListOfMonsters.Where(monster => monster.RequireStat > ViewBag.GameAccount.Slayer))
                {
                    <li class=@monster.Id><a class="ListMonsters" asp-action="Monster" asp-controller="Monster">@monster.Name, required Slayer level: @monster.RequireStat</a></li>
                }
            </div>
        </div>
        <div class="BackdropBot"></div>
    </div>
</body>
</html>
